<header> 
    <div class="container">
      <div class="row">
        
        <div class="col-lg-3 col-md-4 my-auto">
          <div class="top-logo zoomInDown" id="logo">
            <a href="" routerLink="/" (click)="onGoToPage2()"> <img src="assets/images/logo.png" alt="logo" class=""></a>           
          </div>
        </div>
        <div class="col-lg-9  col-md-8">
          <div class="header-categories bounceInLeft">        
              <form  class="search-in" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

              <input type="text" placeholder="Search Snippizz for videos" name="search" formControlName="searchKey">
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
 
          <div class="header-search bounceInLeft">
            <div class=" top-user-btn ">
              <!-- <div   *ngIf="categoriesAllDataHeader">

              <form class="category-2" [formGroup]="forms"  *ngIf="categoriesAllDataHeader && categoriesAllDataHeader?.categories?.length">
                <div class="category border-box" >  

   
                 <select name="languages" id="lang" class="selectpicker" (change)="onChanges($event)">
                   <option value="2000003">Categories</option>
                   <option value="{{cate.id}}"  [attr.selected]="cate.id==catId ? true : null"  *ngFor="let cate of categoriesAllDataHeader.categories;let i = index">{{cate.name}}</option>               
                 </select>
   
                </div>
             
             </form>
            </div> -->

              
            <a href="" routerLink="/categories" (click)="onGoToPage2()">
              <div class="category border-box select"  >
                Categories
               
                
              </div>
            </a>    <!---->
            </div>
          </div>
          <!-- <div class="right-user-id bounceInLeft">
            <div class="top-user-btn" id="userId">
              <div class="user_icon">
                <img src="assets/images/user_icon.png" width="50px" alt="user icon">
              </div>
              <div class="user_name">  <a href="" routerLink="/login">Ashutosh</a></div>
              
            </div>
          </div> -->
      
          <div class="right-user-id bounceInLeft">
            <div class="top-user-btn" id="userId">              
                <div *ngIf="!showModelPopup" >
              <div class="user_icon">
                <img src="assets/images/user_icon.png" width="50px" alt="user icon">
              </div>
              <div class="user_name">  {{showGuestUserName}}</div>

                </div>
            <div   *ngIf="showModelPopup" data-bs-toggle="modal"  (click)="openModelData()" 
             data-bs-target="raund-modaljohen"
             >
              <div class="user_icon">
                <img src="assets/images/user_icon.png" width="50px" alt="user icon">
              </div>
              <div class="user_name">{{showGuestUserName}}</div>

            </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal raund-modal user-modal" id="raund-modaljohen" data-bs-keyboard="false" data-bs-backdrop="static">
      
      <div class="modal-dialog"  aria-hidden="true" >
        <div class="modal-content">

                     <img data-bs-dismiss="modal" style="display: none;" class="btn-close popup-close" 
                     id="popup-close" src="assets/images/close-btn.png" (click)="hidePopup()" width="40px" alt="close">

     
          <div class="modal-body modal-inner-box ">
          
            

              <div class="model-content">
              <h3>Guest user name</h3>
              <div class="ineer-popup-close-btn">
                <form [formGroup]="myForm" (ngSubmit)="userFormSubmit(myForm)">
                  <div>
                      <input class="popup-input" formControlName="name" placeholder="Enter your name here">
                    <div class="errors-1" 
                    *ngIf="(myFormControl['name'].touched || submitted) && myFormControl['name'].errors && myFormControl['name'].errors['required']">Name is required.</div>
                    <div  class="errors-1"
                     *ngIf="(myFormControl['name'].touched || submitted) && myFormControl['name'].errors && myFormControl['name'].errors['minlength']">Please enter atleast 3 characters.
                    </div>
                    <div  class="errors-1" *ngIf="(myFormControl['name'].touched || submitted) && myFormControl['name'].errors && myFormControl['name'].errors['pattern']">Please enter valid name.</div>
                     

                    <!-- <span class="text-danger"
                    *ngIf="(myFormControl.name.touched || submitted) && myFormControl.name.errors?.['required']">
                    Name is required
                </span> -->
                  </div>
                 
                  <button class="btn btn-popup-box" type="submit">Submit</button>
                </form>

                       </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </header>