<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-inner-text"> At KSA Training Ltd, we have a simple mission: "To make e-learning free,
                    fun, and inspirational". <br/> We are: <a href="https://www.managetrainlearn.com" target="_blank">MTL for slides</a> &nbsp;
                    <a href="https://www.snippizz.com" target="_blank">Snippizz for videos</a>&nbsp;<a href="https://www.kwizzers.com/" target="_blank">Kwizzers for games</a>
                    &nbsp;<a href="https://www.thesoftskillsquiz.com/" target="_blank">The Soft Skills Quiz for quizzes</a> 
                    &nbsp;<a href="https://build-a-course.com" target="_blank">Build-a-Course for micro-courses</a> 
                    &nbsp; <a href="https://www.biznizbooks.com" target="_blank">Biznizbooks for e-books </a><br/>
                    Copyright &copy; KSA Training Ltd {{currentYear}}. </div>
            </div>
        </div>
    </div>
</footer>